/*====================================================
GLOBAL STYLES
====================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

li {
  list-style: none;
}

/*SCROLL (BORDER RADIUS,ETC)*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff4081;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff6699;
}

a {
  text-decoration: none;
}
/*====================================================
HEADER STYLES
====================================================*/
header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
}

header .header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

header .header-container .topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #222;
  /* Fondo oscuro para un look moderno */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

header .header-container .topbar.hide {
  transform: translateY(-100%);
}

header .header-container .topbar .topbar-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header .header-container .topbar .topbar-links li {
  margin-right: 15px;
  /* Más espacio entre elementos */
}

header .header-container .topbar .topbar-links li:last-child {
  margin-right: 0;
}

header .header-container .topbar .topbar-link {
  text-decoration: none;
  color: #fff;
  /* Color blanco para contraste en fondo oscuro */
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

header .header-container .topbar .topbar-link:hover {
  color: #ff4081;
  /* Color vibrante en hover */
  transform: translateY(-3px);
  /* Efecto de desplazamiento en hover */
}

header .header-container .topbar .topbar-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 50%;
  background-color: #ff4081;
  /* Color vibrante para underline */
  transition: width 0.3s ease, left 0.3s ease;
}

header .header-container .topbar .topbar-link:hover::before {
  width: 100%;
  left: 0;
}

/* Icon Styles */
header .header-container .topbar .topbar-link i {
  margin-right: 8px;
  /* Espacio entre el icono y el texto */
  transition: transform 0.3s ease;
}

header .header-container .topbar .topbar-link:hover i {
  transform: scale(1.2);
  /* Efecto de escala en hover */
}

/*====================================================
NAVBAR STYLES
====================================================*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  height: 60px;
  transition: transform 0.3s ease, margin-top 0.3s ease;
}

.navbar.move-up {
  margin-top: 10px;
  transform: translateY(-60px);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar .navbar-container .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar .navbar-container .navbar-brand .logo {
  display: flex;
  align-items: center;
}

.navbar .navbar-container .navbar-brand .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar .navbar-container .navbar-brand .logo span {
  color: #333;
  font-family: "Roboto", sans-serif; /* Cambia esto a la fuente que prefieras */
  padding-left: 10px; /* Añade un poco de espacio a la izquierda del texto */
  transition: color 0.3s ease; /* Suaviza el cambio de color */
}

.navbar .navbar-container .navbar-brand .logo span:hover {
  color: #ff6699;
}
.navbar .navbar-container .navbar-brand .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar .navbar-container .navbar-menu .nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar .navbar-container .navbar-menu .nav-links li {
  margin-right: 15px;
}

.navbar .navbar-container .navbar-menu .nav-links li:last-child {
  margin-right: 0;
}

.navbar .navbar-container .navbar-menu .nav-links .nav-link {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

.navbar .navbar-container .navbar-menu .nav-links .nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 50%;
  background-color: #ff4081;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar .navbar-container .navbar-menu .nav-links .nav-link:hover:before {
  width: 100%;
  left: 0;
}

.navbar .navbar-container .navbar-menu .nav-links .nav-link:hover {
  color: #ff4081;
  transform: translateY(-3px);
}

.navbar .navbar-container .navbar-menu .nav-links .nav-link.active:before {
  width: 100%;
  left: 0;
}

.navbar .navbar-container .navbar-menu .nav-links .nav-link.active {
  color: #ff4081;
}

.navbar .navbar-container .navbar-menu .nav-links .action-link {
  background-color: #ff4081;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar .navbar-container .navbar-menu .nav-links .action-link:hover {
  background-color: #ff6699;
  transform: translateY(-3px);
}

.navbar .navbar-container .navbar-toggle {
  display: none;
}

/*====================================================
HERO STYLES
====================================================*/

main {
  padding-top: 100px;
}

main .hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.432);
  transition: background-image 0.3s ease;
  cursor: pointer;
}

main .hero:hover {
  background-image: url("../img/hero2.jpg");
}

main .hero .hero-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

main .hero .hero-content {
  text-align: center;
  color: #fff;
}

main .hero .hero-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

main .hero .hero-content p {
  font-size: 24px;
  margin-bottom: 20px;
}

main .hero .hero-content a {
  background-color: #ff4081;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

main .hero .hero-content a:hover {
  background-color: #ff6699;
  transform: translateY(-3px);
}

/*====================================================
ABOUT STYLES
====================================================*/

main .about {
  padding: 50px 0;
}

main .about .about-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

main .about .about-img-container,
main .about .about-content {
  flex: 1;
}

main .about .about-img-container {
  margin-right: 20px;
}

main .about .about-container .about-content {
  padding: 0 20px;
}

main .about .about-container .about-content .about-title:after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #ff4081;
  margin: 0 auto 0;
}

main .about .about-container .about-content .about-title {
  text-align: center;
  margin-bottom: 20px;
}

main .about .about-content h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

main .about .about-content p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
}

main .about .about-img-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

main .about .about-img-container img:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/*
CENTRADO DE BOTÓN Y ESTILOS

*/

main .about .about-container .about-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  background-color: #ff4081;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

main .about .about-container .about-content a:hover {
  background-color: #ff6699;
  transform: translateY(-3px);
}

/*====================================================
SERVICES STYLES
====================================================*/
main .services {
  padding: 50px 0;
  background-color: #f1f1f1;
}

main .services .services-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

main .services .services-title:after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #ff4081;
  margin: 0 auto 20px;
}

main .services .services-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #333;
}

main .services .services-description {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
main .services .service {
  flex: 1;
  margin: 0 10px;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

main .services .service:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

main .services .service h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  color: #333;
  text-align: center;
}

main .services .service p {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  color: #666;
  text-align: justify;
}

main .services .service .service-img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 15px;
}

main .services .service .service-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

main .services .service .service-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff4081;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

main .services .service .service-link:hover {
  background-color: #ff6699;
  transform: translateY(-3px);
}

/*====================================================
TEAM SECTION SLIDER STYLES
====================================================*/
main .team .team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main .team .team-title:after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #ff4081;
  margin: 0 auto 20px;
}

main .team .team-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #333;
  position: relative;
}

main .team .team-description {
  text-align: center;
  margin: 0 auto 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  max-width: 600px;
}

main .team .team-member {
  display: 0 0 calc(33.333% - 20px);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  margin-bottom: 20px;
}

main .team .team-member .member-profile {
  position: relative;
  overflow: hidden;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin: 20px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .team .team-member .member-profile:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

main .team .team-member .member-profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

main .team .team-member .member-profile:hover img {
  transform: scale(1.1);
}

main .team .team-member .member-profile .member-social {
  position: absolute;
  bottom: 100px;
  right: 10px;
  width: 40px;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .team .team-member .member-profile:hover .member-social {
  opacity: 1;
}

main .team .team-member .member-profile .member-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #ff4081;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

main .team .team-member .member-profile .member-social a:hover {
  background-color: #ff6699;
  transform: translateY(-3px);
}

main .team .team-member .member-profile .member-details {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(5, 4, 4, 0.801);
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .team .team-member .member-profile .member-details .member-name,
main .team .team-member .member-profile .member-details .member-role {
  margin: 0;
  color: #fff;
}

/*====================================================
PRICING STYLES
====================================================*/
main .pricing {
  padding: 50px 0;
  background-color: #f1f1f1;
  text-align: center;
}

main .pricing .pricing-title:after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #ff4081;
  margin: 0 auto 20px;
}

main .pricing .pricing-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #333;
}

main .pricing .pricing-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #666;
  margin-bottom: 40px;
}

main .pricing .pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

main .pricing .pricing-card {
  flex: 1;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 300px;
}

main .pricing .pricing-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

main .pricing .pricing-container .pricing-card:nth-child(1) {
  margin-top: -20px;
}

main .pricing .pricing-container .pricing-card:nth-child(2) {
  margin-top: 20px;
}

main .pricing .pricing-container .pricing-card:nth-child(3) {
  margin-top: -20px;
}

main .pricing .pricing-card .pricing-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

main .pricing .pricing-card .pricing-price {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

main .pricing .pricing-card .pricing-features {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main .pricing .pricing-card .pricing-features li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
}

main .pricing .pricing-card .pricing-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff4081;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  height: 40px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

main .pricing .pricing-card .pricing-link:hover {
  background-color: #d81b60;
}

/*====================================================
TESTIMONIALS STYLES
====================================================*/
main .testimonials {
  padding: 50px 0;
  background-color: #f8f9fa;
  text-align: center;
}

main .testimonials .testimonials-title:after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #ff4081;
  margin: 0 auto 20px;
}

main .testimonials .testimonials-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #333;
}

main .testimonials .testimonials-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #666;
  margin-bottom: 40px;
}

main .testimonials .testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

main .testimonials .testimonial {
  flex: 1;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 300px;
  position: relative;
}

main .testimonials .testimonial:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

main .testimonial .testimonial-content {
  margin-bottom: 20px;
}

main .testimonial .testimonial-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

main .testimonial .testimonial-content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

main .testimonial .testimonial-content .testimonial-name {
  font-size: 16px;
  color: #333;
}

main .testimonial .testimonial-content .testimonial-role {
  font-size: 16px;
  color: #666;
}

main .testimonial .testimonial-content .testimonial-text {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

main .testimonial .testimonial-content .testimonial-social {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

main .testimonial:hover .testimonial-social {
  opacity: 1;
}

main .testimonial .testimonial-content .testimonial-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #ff4081;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

main .testimonials .testimonial-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

main .testimonials .testimonial-controls .control-btn {
  background-color: #ff4081;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

main .testimonials .testimonial-controls .control-btn:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: #d81b60;
}

main .testimonials .testimonial-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

/*====================================================
CONTACT STYLES
====================================================*/
main .contact {
  padding: 50px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/contact.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  text-align: center;
}

main .contact .contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

main .contact .contact-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
  position: relative;
  padding-top: 20px;
}

main .contact .contact-title:after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #ff4081;
  margin: 10px auto 20px;
}

main .contact .contact-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
}

main .contact .contact-form-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;
}

main .contact .contact-form {
  flex: 1;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  margin: 0 auto;
}

main .contact .contact-form .form-group {
  margin-bottom: 20px;
}

main .contact .contact-form .form-group label {
  display: block;
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

main .contact .contact-form .form-group input,
main .contact .contact-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 16px;
}

main .contact .contact-form .form-group textarea {
  height: 200px;
}

main .contact .contact-form .form-group input:focus,
main .contact .contact-form .form-group textarea:focus {
  outline: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

main .contact .contact-form .submit-btn {
  background-color: #ff4081;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

main .contact .contact-form .submit-btn:hover {
  background-color: #e03572;
  transform: translateY(-2px);
}

main .contact .contact-image {
  max-width: 600px;
  width: 100%;
}

main .contact .contact-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*====================================================
FOOTER
====================================================*/
footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0 10px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.company {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-width: 250px;
  text-align: center;
}

.company .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.company .logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.company h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-media a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.3s, color 0.3s;
}

.social-media a:hover {
  color: #ff4081;
  transform: scale(1.1);
}

.footer-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  min-width: 250px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ff4081;
}

.footer-links h3{
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

.newsletter {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  min-width: 450px;
}

.newsletter h3 {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

.newsletter p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.newsletter form input[type="email"] {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.newsletter form input[type="submit"] {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #ff4081;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.newsletter form input[type="submit"]:hover {
  background-color: #e83774;
  transform: scale(1.05);
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #bbb;
}



/*====================================================
Button Whatsapp
====================================================*/
.call-action{
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 10px;
}

.call-action .btn-call{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.call-action .btn-call:hover{
  background-color: #128c7e;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.call-action .message{
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.432);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.call-action .btn-call:hover + .message{
  visibility: visible;
  opacity: 1;
}

/*====================================================
Scroll to top button
====================================================*/
.scroll-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.scroll-container .top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ff4081;
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.scroll-container .top:hover {
  background-color: #ff6699;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.scroll-container.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  animation: slideIn 0.5s ease;
}

.scroll-container.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  animation: slideOut 0.5s ease;
}

.reveal {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
/*====================================================
ANIMATIONS
====================================================*/
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes lineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
